#first{
    background-image: url(./image/IMG_3308.JPEG);
   
   
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
   
   
}
header{
    display: flex;
}
#header{
    display: flex;
    line-height: 80px;
    list-style-type: none;
    margin-left: 400px;
}
#header a{
    
    text-decoration: none;
    list-style-type: none;
    padding-left: 40px;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header a:hover{
    color:rgb(255, 153, 1);
}
#icc{
    border: 0px black solid;
    margin-top: 15px;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    color: orangered;

}
#logo{
    margin-left: 100px;
    font-style: italic;
    font-weight: 1000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 
}

#text h1{
    color: white;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 600;
}
#text p{
    color: rgb(214, 184, 184);
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#text button{
    background: none;
    border: 1px white solid;
    margin-left: 90px;
    padding: 10px 25px;
    color: white;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgb(202, 195, 195);
    cursor: pointer;
}
#text button:hover{
    background-color:rgb(255, 153, 1) ;
}

/*  */
#titi{
    background: none;
    border: 1px white solid;
    text-align: center;
    margin-left: 580px;
    margin-right: 580px;
    margin-top: -20px;
    padding: 10px 25px;
    color: white;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 600;
    background-color:rgb(255, 153, 1) ;
}
#menu1{
    display: flex;
    margin-left: -80px;
}
#menu{
    margin-left: 50px;
    display: block;
    text-align: center;
    padding-left: 30px;
}
#menu a{
  text-decoration: none;
  color: rgb(82, 79, 79);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}
#menu a:hover{
    text-decoration: underline red 5px;
    
}
#menu img{
    width: 80px;
    height: 80px;
    
}
/*  */
#section{
    background-image: url(./image/img12.JPG);
    background-size: cover;
    width:1340px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -5px;
    
}
#new{
    display: flex;
    margin-left: 30px;
    margin-right: 70px;
}
.new1{
    display: flex;
    border: 0px solid white;
   
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgb(190, 156, 156);
}
#new22{
    background-color: rgb(238, 76, 48);
}
.new1 img{
    width: 270px;
    height: 230px;
    margin-top: -10px;
    
}
#new2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
   
   
}
#new2 p{
    font-size: 11px;
    
   
}
#new2 h1{
    font-size: 20px;
    font-weight: 700;
    
   
}
#nn2{
    color: orangered;
}
#nn3{
    color: white;
}
#neww{
    display: flex;
    margin-left: 30px;
    margin-right: 60px;
}
.new33{
    display: flex;
    border: 0px solid white;
   width: 1600px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgb(190, 156, 156);
}
.new33 img{
    width: 300px;
    height: 240px;
    margin-top: -30px;
   
    
}
.new33 h1{
    margin-top: 40px;  
}
.new33 button{
    padding: 7px;
    border: 0px black solid;
    border-radius: 15px;
    background-color: rgb(238, 76, 48) ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
/*  */
#pl h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-left: 700px;
    color: white;
}
#pl img{
    width: 140px;
    height: 38px;
    border-radius: 55px;
    
    

}
#pll{
    display: flex;
    margin-left: 680px;
}
#pll img:hover{
    box-shadow: 0 0 10px 1px rgb(184, 64, 43);
}
#pll a{
    
    margin-left: 20px;
}
#pl{
    background-image: url(./image/img16.PNG);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -100px;
   
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*  */
#comm{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 90px;
    
}
#comm2{
    display: flex;
    
    
}
#comm1{
    width: 370px;
    height: 120px;
    margin-left: 30px;
    padding-left: 10px;
    border: solid 0px white;
    background-color: white;
    border-radius: 20px;
}
#comm1 img{
    margin-left: -50px;
    margin-top: -40px;
    width: 120px;
}
#comm p{
    font-size: 12px;
    margin-left: 50px;
    color: rgb(99, 98, 98);
    margin-top: -10px;
}
#commm{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-right: 90px;
    width: 820px;
    
}
#commm2{
    display: flex;
    
    
}
#commm1{
    width: 390px;
    height: 165px;
    margin-left: 30px;
    padding-left: 10px;
    border: solid 0px white;
    background-color: white;
    border-radius: 20px;
}
#commm1 img{
    margin-left: -50px;
    margin-top: -40px;
    width: 120px;
}
#commm p{
    font-size: 12px;
    margin-left: 50px;
    color: rgb(99, 98, 98);
    margin-top: -10px;
}
#cv{
    margin-left: 100px;
}
#cos{
    display: flex;
}
#vi video{
   width: 300px;
   margin-left: -40px;
   
   
}
/*  */
